<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List Of Pet Owners</title>
</head>
<body>
<h1 th:text="'List of owners'"> Owners list</h1>
<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">id</th>
        <th style="width: 200px;">first name</th>

        <th style="width: 200px">Second name</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="owner: ${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">mo</td>
        <td th:text="${owner.lastName}">smsm</td>
    </tr>
    </tbody>

</table>
</body>
</html>